label {
    display: inline-block;
    width: 200px;
    margin: 5px;
    text-align: left;
}

.input[type=text], input[type=password], select {
    display: inline-block;
    width: 200px;
}

.input[type=radio] {
    margin-left: 45px;
}

.input[type=checkbox] {
    margin-right: 190px;
}

.button {
    padding: 5px;
    margin: 10px;
}

.error {
    color: red;
    font-style: italic;
}

.span {
    color: red;
    font-style: italic;
}
