<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="ISO-8859-1">-->
<!--  <title>Registration Success</title>-->
<!--  <style type="text/css">-->
<!--    span {-->
<!--      display: inline-block;-->
<!--      width: 200px;-->
<!--      text-align: left;-->
<!--    }-->
<!--  </style>-->
<!--</head>-->
<!--<body>-->
<!--<div align="center">-->
<!--  <h2>Registration Succeeded!</h2>-->
<!--  <span>First name:</span><span th:text="${user.firstName}"></span><br/>-->
<!--  <span>Last name:</span><span th:text="${user.lastName}"></span><br/>-->
<!--  <span>E-mail:</span><span th:text="${user.email}"></span><br/>-->
<!--  <span>Password:</span><span th:text="${user.password}"></span><br/>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
