<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="ISO-8859-1">-->
<!--    <title>User Registration</title>-->
<!--    <link rel="stylesheet" href="register_form.css" th:href="@{css/register_form.css}"/>-->
<!--</head>-->
<!--<body>-->
<!--<div align="center">-->
<!--    <h1>User Registration</h1>-->
<!--    <form action="#" th:action="@{/register}" method="post" th:object="${user}">-->

<!--        <label>First name:</label>-->
<!--        <input type="text" th:field="*{firstName}" /><br/>-->
<!--        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</span><br/>-->


<!--        <label>Last name:</label>-->
<!--        <input type="text" th:field="*{lastName}" /><br/>-->
<!--        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</span><br/>-->


<!--        <label>E-mail:</label>-->
<!--        <input type="text" th:field="*{email}" /><br/>-->
<!--        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</span><br/>-->


<!--        <label>Password:</label>-->
<!--        <input type="password" th:field="*{password}" /><br/>-->
<!--        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</span><br/>-->

<!--        <label>Repeat password:</label>-->
<!--        <input type="password" th:field="*{repeatPassword}" /><br/>-->

<!--        <button type="submit">Register</button>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
